<footer class="white-wrapper footer-compact">
    <div class="container-fluid footer-spacing">
        <div class="row text-center">
            <div class="col-md-12 wow fadeIn mb20" data-wow-delay="0.2s">
                <span class="copyright">
                    Landon Webb –
                    <a href="tel:801-471-8715">801-471-8715</a> –
                    <a href="mailto:landosbarbeque@gmail.com">landosbarbeque@gmail.com</a>
                </span>
            </div>

            <div class="col-md-12">
                <ul class="list-inline social-links wow fadeIn" data-wow-delay="0.2s">
                </ul>
            </div>
        </div>
    </div>
</footer>

<div id="bottom-frame"></div>
